<mat-table [dataSource]="items" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let edge"> {{edge.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="source">
        <mat-header-cell *matHeaderCellDef> Источник </mat-header-cell>
        <mat-cell *matCellDef="let edge"> {{this.parent?.id !== edge.target.id ?
            (this.getVertexFromId(edge.source.id)?.value ?? edge.source.id) :
            (this.getVertexFromId(edge.target.id)?.value ?? edge.target.id)}} (id: {{this.parent?.id !== edge.target.id
            ? edge.source.id : edge.target.id}}) </mat-cell>
    </ng-container>

    <ng-container matColumnDef="linkType">
        <mat-header-cell *matHeaderCellDef> Тип связи </mat-header-cell>
        <mat-cell *matCellDef="let edge">
            {{this.getLinkTypeValue(edge)}}
            <button mat-icon-button (click)="this.editEdge(edge, $event)">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="target">
        <mat-header-cell *matHeaderCellDef> Цель </mat-header-cell>
        <mat-cell matTooltip="Выбрать как Источник" *matCellDef="let edge">
            <span (click)="this.parentChange.emit(this.parent?.id !== edge.target.id ?
            (edge.target) :
            (edge.source))">
                {{this.parent?.id !== edge.target.id ?
                (this.getVertexFromId(edge.target.id)?.value ?? edge.target.id) :
                (this.getVertexFromId(edge.source.id)?.value ?? edge.source.id)}} (id: {{this.parent?.id !== edge.target.id
                ? edge.target.id : edge.source.id}})
            </span> 

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div class="floating-window" *ngIf="this.edittableEdge !== null" (click)="$event.stopImmediatePropagation()">
    <mat-card>
        <h2>Редактор связи</h2>
        <mat-form-field>
            <mat-label>Типы связи</mat-label>
            <mat-select [(ngModel)]="this.edittableEdge.value" (ngModelChange)="this.onEdgeChanged()">
                <mat-option [value]="item"
                    *ngFor="let item of this.linkTypeSelectorItems">{{linkTypeLocalization[item]}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>
</div>